{% extends "common.html" %}
{% block content %}
<style>
.small {
    font-size: smaller;
}    
.rbtn-active {
    background-color: #28a745;
    border-color: #28a745;
    animation: pulse 1.5s infinite;
}
@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.7); }
    70% { box-shadow: 0 0 0 10px rgba(40, 167, 69, 0); }
    100% { box-shadow: 0 0 0 0 rgba(40, 167, 69, 0); }
}
</style>
<script src="/static/geoui/recorder.js"></script>
<script src="/static/geoui/geoaudio.js"></script>

<div class="row" style="height:100%;padding: 0 0 0 0;">
    <div id="leftpanel" class="col-5" style="background: #f9f9f9; padding:0 5 0 20;">
        <br/>        
        <audio controls id="faudio"  style="display: none1;width:100%;">No Audio.</audio><br/>
    
        <br/>        
        <button id="wwDetectBtn" class="btn btn-secondary" onclick="wwToggle()"
            data-toggle="tooltip" title='Listen to wake-word: sage'
        >
            <i class="fa fa-podcast"></i>&nbsp;</button>

        <button id="recordingBtn" class="btn btn-secondary" onclick="trascribeStart()"
            data-toggle="tooltip" title='Record your question'
            >
            <i class="fa fa-microphone"></i>&nbsp;</button>

        <button id="lookingBtn" class="btn btn-secondary" onclick="$('#look_around')[0].checked = true;startLooking()"
        data-toggle="tooltip" title='Start Looking around!'
        >
        <i class="fa fa-camera"></i>&nbsp;</button>


        <button id="sendBtn" class="btn btn-primary" onclick="lookUp(null)">
            <i class="fa fa-paper-plane"></i>&nbsp;
        </button>
        <span id="cogStatus" style="font-size: smaller;"></span>
        <br/>
        <div contenteditable id=trans 
            style="padding:10px;border: 1px solid gray; border-radius: 6px;font-size: small;min-height: 30%;">
        </div>
        <div class="small">
            <div style="align-items: center; border: 1px solid gray;padding:2px; display:  inline-block;">
                <span style="vertical-align: middle;">Listen to WW &nbsp; </span>
                <input onclick="listen_wakeword()" id="listen_wakeword" type="checkbox" style="vertical-align: middle;" /> 
            </div>
            <div style="align-items: center; border: 1px solid gray; padding:2px; display: inline-block;">
                <input onclick="startLooking()" id="look_around" type="checkbox" style="vertical-align: middle;" /> 
                <span style="vertical-align: middle;">Look Around </span> 
            </div>
            {% include "cogs/img_capture_include.html" %}
        </div>
    </div>
    <div id="response" class="col-7 small" style="height: 100%; overflow: scroll;">
            <h6> Messages </h6>
            <hr/>
    </div>
</div>
{% include "geoaudio_transcribe.html" %}
{% include "geo_wakeword.html" %}
{% include "tts.html" %}

<script>
const cogStatus = $('#cogStatus')
const responseDiv = $('#response')
let WW_ACTIVE = 0    

function wwDetectCB(txt) {
    $('#trans').html("Yes ... ")
    _geoAudio.clearRecording()
    setTimeout(trascribeStart, 200)
    $('#wwDetectBtn').removeClass("rbtn-active")
}
function wwDetect(){
    if ( !WW_ACTIVE){
        return
    }
    $('#wwDetectBtn').addClass("rbtn-active")
    $('#wwDetectBtn').blur()
    startWakeWordDetectLoop(wwDetectCB)
}
function wwStop(){
    WW_ACTIVE = 0
    $('#wwDetectBtn').removeClass("rbtn-active")
    stopWW()
}
function wwToggle(){
    if ( WW_ACTIVE){
        wwStop()
        return
    }
    WW_ACTIVE = 1
    wwDetect()
}
function listen_wakeword(){
    if ($('#listen_wakeword')[0].checked) {
        WW_ACTIVE = 1
        wwDetect()
    } else {
        wwStop()
    }
    saveZZValues();
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
let lookingAround = null
let recent = {}
function startLooking(txt=null) {
    if ($('#look_around')[0].checked) {
        saveZZValues();
        if (!lookingAround) {
            $('#lookingDiv').show()
            lookingAround = 1
            //setTimeout(startLooking, 3000)
            var w =$('#leftpanel').width()-20
            startCamera(w, w * .75 )
        }
        setTimeout(recognize, 10000, startLooking, true)
        if(txt && !recent[txt] ) {
            tts("hi " + txt)
            recent[txt]= new Date()
        } else {
            var dt1 = recent[txt]
            var dt2 = new Date()
            var mins = (dt2 - dt1)/1000/60
            if ( mins > 1) {
                //delete recent[txt]
                recent[txt]= new Date()
                tts("hi " + txt + " - how have you been!")
            }
            console.log("Last Saw: ", dt1, dt2, mins)
        }
    } else {
        $('#lookingDiv').fadeOut()
        lookingAround = null
        stopCamera()
        recent=[]
        saveZZValues();
    }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function trascribeToggleCB(txt, final) {
    console.log(txt)
    $('#trans').html(txt)
    if (final) {
        _geoAudio.stopRecording()
        $('#recordingBtn').removeClass("rbtn-active")
        setTimeout(lookUp, 500, txt)
    }
}
function trascribeStart(nseconds=20) {
    $('#recordingBtn').addClass("rbtn-active")
    $('#recordingBtn').blur()

    _geoAudio.startRecording()
    console.log("Started to Listen")
    var opt = {callback: trascribeToggleCB, max_wait: nseconds }
    setTimeout( geoaudio_trans_listen, 300, opt)
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
async function lookUpCB(responseTxt, statusTxt, xhr, context, formData) {
    console.log("===>", context)
    var h = responseDiv.html()
    h += `<br/> <b> ${""+context.q} </b> <br/>Response: ${responseTxt}<br/><hr/>`
    responseDiv.html(h)
    responseDiv[0].scrollTop = responseDiv[0].scrollHeight;
    await tts(responseTxt)
    setTimeout(wwDetect, 2000)
    cogStatus.html("")
}
async function lookUp(txt) {
    var data = {
        q: txt || $('#trans').text()
    }
    if ( !data.q) {
        tts("How can I help you today!")
        setTimeout(wwDetect, 200)
        return
    }
    cogStatus.html("looking up!!")
    await callws('/cogs/lookup/', "", lookUpCB, data, {show_busy: 0});
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$(document).ready(function() {
    restoreZZValues()
    listen_wakeword()
})
 </script>
{% endblock %}
